[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python manage.py runserver"
django = "python manage.py"
test = "pytest"
sort = "isort apps"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
beautifulsoup4 = "*"
html-parser = "*"
asyncio = "*"
aiohttp = "*"
aiofiles = "*"
jproperties = "*"
psutil = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"

[dev-packages]
coverage = "*"
pytest = "*"
rope = "*"
jedi = "*"
isort = "*"
pylint = "*"
mypy = "*"
pytest-asyncio = "*"
pytest-django = "*"
importlib-metadata = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
