[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python manage.py runserver"
django = "python manage.py"
test = "python manage.py test"
format = "isort apps"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
requests = "*"
beautifulsoup4 = "*"
html-parser = "*"
asyncio = "*"
aiohttp = "*"
aiofiles = "*"

[dev-packages]
pytest = "*"
rope = "*"
jedi = "*"
isort = "*"
autopep8 = "*"
pylint = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.9"
